.header {
  // width: 100vw;
  background-image: url(../images/banner_background.jpg);
  background-size: cover;
  background-position: center;
  @include flexColumn;
  overflow: hidden;
  padding: 0 29vw;
  height: 100vh;
  position: relative;
  align-items: center;
  text-align: center;
  padding-top: 10vw;
  
  @include screen(laptop) {
    padding: 0 7%;
    padding-top: 20%;
  }

  

  &__heading {
    margin-bottom: 3rem;

    @include screen(tablet) {
      font-size: 4.5rem;
    }
  }

  &__paragraph {
    margin-bottom: 6rem;
  }
  
  &__iphone-img {
    position: absolute;
    height: 70vh;
    bottom: -32rem;
  }
}