
.nav {
  position: fixed;
  @include threeColumnGrid;
  padding-top: 6rem;
  padding-bottom: 6rem;
  z-index: 3000;
  transition: all 0.3s;

  @include screen(tablet) {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1)
  }
  
  &--white-bg {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1)
  }

  &__button-hamburger {
    @include screen(tablet) {
      display: inline;
    }
  }  

  &__link {
    text-decoration: none;
    color: $color-grey-dark;
    font-size: 1.6rem;
    
    
    &--disabled {
      color:  $color-grey-inactive;
    }
    
    &:hover {
      color:  $color-grey-inactive;
    }
  }
  
  &__li {
    &:not(:last-child) {
      margin-right: 4rem;

      @include screen(tablet) {
        margin-right: 0;
      }
    }


    @include screen(tablet) {
      padding: 2rem 0;
      width: 100%;

      &:hover {
        background-color: $color-grey-light-1;
      }
    }

    &--rwd-hidden {
      @include screen(tablet) {
        display: none;
        visibility: collapse;
      }
    }
  }

  &__list {
    @include flexRow;
    grid-column: 2/span 1;
    justify-content: space-between;
    align-items: center;
    
    @include screen(tablet) {
      display: none;
      margin-top: 6rem;
    }

  }
  
  &__links {
    @include flexRow;
    align-items: center;
  }
  
  &__additional-links{
    @include flexRow;
    align-items: center;
  }

  &__links, &__additional-links {
    @include screen(tablet) {
      @include flexColumn;
      width: 100%;
      text-align: center;
    }
  }

  &__hamburger-container {
    display: none;

    @include screen(tablet) {
      display: initial;
      width: 100%;
    }
  }

  &__input {
    display: none;
  } 

  &__hamburger {
    display: none;
    cursor: pointer;
    font-size: 2rem;

    @include screen(tablet) {
      display: initial;
      margin-left: 2rem;

    }
  }

  &__input:checked ~ &__list {
    @include flexColumn;
  }
  
  &__logo {
    height: 1.2rem;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    @include screen(tablet) {
      top: 4rem;
    }
  }

  &__apple-icon {
    margin-right: 10px;
    font-size: 2rem;
  }
}