.feature {
  // height: 90rem;
  @include flexRow;
  position: absolute;
  align-items: center;

  
  &--left {
    right: 0;
  }
  
  &--right {
    left: 0;
  }

  &__img {
    // height: 70rem;\
    height: 100%;
  }

  &__heading {
    margin-bottom: 7rem;
  }

  &__content {
    width: 46rem;
    max-width: 100%;
    margin-top: 15rem;
    
    @include screen(mobile) {
      padding: 0 2rem;
    }

    &--left {
      // float: right;
      margin-left: 8.5rem;
      margin-right: 4rem;
      
      @include screen(mobile) {
        margin: 0;
      }
    }
    
    &--right {
      margin-right: 8.5rem;
      margin-left: 4rem;
      @include screen(mobile) {
        margin: 0;
      }
    }
  }

  &__button-container {
    margin-top: 7.5rem;
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    gap: 2rem;
  }

  &__arrow {
    margin-left: 4rem;
    font-size: 1.4rem;
  }

}