.section-opportunities {
  @include threeColumnGrid;

  
  .opportunities-container {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5vw;
    padding: 12rem 2rem 10rem 2rem;
    
    @include screen("laptop") {
      grid-template-columns: 1fr;
      grid-auto-flow: row;
      padding: 12rem 6rem;
    }

    @include screen("tablet") {
      grid-template-columns: 1fr;
      grid-auto-flow: row;
      padding: 12rem 2rem;
    }
  }

  .opportunities-hr {
    grid-column: 1/-1;
    color: rgba(38, 39, 45, 0.05);
  }

  
  .opportunity {
    * {
      margin-bottom: 4.2rem;
    }
  
    &__icon {
      color: $color-primary;
      font-size: 4.2rem;
    }
  }

}

.section-features {
  max-width: 117rem;
  
  width: 100%;
  margin: 0 auto;
  position: relative;
  @include flexColumn;


  .features-container {
    position: relative;
    height: 90rem;
  }
}

.section-interface {
  text-align: center;
  background-color: $color-grey-light-1;
  position: relative;
  min-height: 130vh;
  padding-top: 14rem;

  &__hr {
    width: 5rem;
    border: 1px solid $color-primary;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 4rem;

  }

  &__text {
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: $color-grey;
  }

  &__gallery {
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    left: 50%;
    bottom: 12rem;
    transform: translateX(-50%);
  }

  &__img {
    box-shadow: 3.4px 9.4px 16px rgba($color: #3D3D3E, $alpha: 0.15);
    vertical-align: middle;
    margin: 0 1rem;

    &--main {
      box-shadow: none;
    }
  }
}

.section-get-app {
  text-align: center;
  background-color: $color-grey-light-1;
  padding: 6.5rem 0 14rem 0;

  &__form {
    margin-bottom: 6rem;
  }

  &__text {
    text-transform: uppercase;
    color: $color-grey;
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  &__img {
    height: 5rem;
    border-radius: 2.5rem;
  }
}

.section-testimonials {
  @include threeColumnGrid;
}

.section-plans {
  @include threeColumnGrid;
  background-color: $color-grey-light-1;

  .plans {

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    &__text-container {
      max-width: 36rem;
    }

    &__heading {
      margin-bottom: 8rem;
    }

    &__label {
      margin-bottom: 2rem;
      font-size: 1.2rem;
      text-transform: uppercase;
      color: $color-grey-dark;
    }

    &__small-text {
      color: $color-grey;
      font-size: 1.4rem;
    }

    &__paragraph {
      margin-top: 7rem;
      margin-bottom: 4rem;
    }
  
    &__container {
      margin-top: 15.5rem;
      margin-bottom: 19rem;
      grid-column: 2;
      @include flexRow;
      justify-content: space-between;
    }
  }

  .tabs-container {
    @include flexRow;
    align-items: center;
  }

}

.section-subscribe {
  text-align: center;
  margin: 5rem 0;
  

  &__text {
    font-size: 1.4rem;
    color: $color-grey;
  }

}
