.section-features {
  @include threeColumnGrid;

  .features-container {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5vw;
    padding: 12rem 0 10rem 0;
  }

  .features-hr {
    grid-column: 1/-1;
    color: rgba(38, 39, 45, 0.05);
  }
}

.section-hack-us {
  height: 90rem;
  display: grid;

  grid-template-columns: 1fr 1fr;

  // background-image: url(../images/iphone-feature.png);
  // background-position: left;
  // background-size: auto;

  &__img {
    max-width: 100%;
  }

  &__heading {
    // max-width: 2px;
    margin-bottom: 7rem;
  }

  &__content {
    margin: 15rem 0 0 8.5rem;
    max-width: 58rem;
  }

  &__button-container {
    margin-top: 7.5rem;
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    gap: 2rem;
  }

  &__arrow {
    margin-left: 4rem;
    font-size: 1.4rem;
  }
}

.section-map {

}

.section-interface {
  text-align: center;
  background-color: $color-grey-light-1;
  position: relative;
  min-height: 130vh;
  padding-top: 14rem;

  &__hr {
    width: 5rem;
    border: 1px solid $color-primary;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 4rem;

  }

  &__text {
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: $color-grey;
  }

  &__gallery {
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    left: 50%;
    bottom: 12rem;
    transform: translateX(-50%);
  }

  &__img {
    box-shadow: 3.4px 9.4px 16px rgba($color: #3D3D3E, $alpha: 0.15);
    vertical-align: middle;
    margin: 0 1rem;

    &--main {
      box-shadow: none;
    }
  }
}

.section-get-app {
  text-align: center;
  background-color: $color-grey-light-1;
  padding: 6.5rem 0 14rem 0;

  &__form {
    margin-bottom: 6rem;
  }

  &__text {
    text-transform: uppercase;
    color: $color-grey;
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  &__img {
    height: 5rem;
    border-radius: 2.5rem;
  }
}

.section-testimonials {

}

.section-plans {
  @include threeColumnGrid;
  background-color: $color-grey-light-1;

  .plans {

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    &__text-container {
      max-width: 36rem;
    }

    &__heading {
      margin-bottom: 8rem;
    }

    &__label {
      margin-bottom: 2rem;
      font-size: 1.2rem;
      text-transform: uppercase;
      color: $color-grey-dark;
    }

    &__small-text {
      color: $color-grey;
      font-size: 1.4rem;
    }

    &__paragraph {
      margin-top: 7rem;
      margin-bottom: 4rem;
    }
  
    &__container {
      margin-top: 15.5rem;
      margin-bottom: 19rem;
      grid-column: 2;
      @include flexRow;
      justify-content: space-between;
    }
  }

  .tabs-container {
    @include flexRow;
    align-items: center;
  }

}

.section-subscribe {
  text-align: center;
  margin: 5rem 0;
  

  &__text {
    font-size: 1.4rem;
    color: $color-grey;
  }

}
